/* some nice dividers */

:root {
  --bg: #10111F;
  --barsize: 15px;
}

/*     $bg: 
    $barsize: 15px; */


.hr {
    
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;

    &:after,
    &:before {

        content: "";
        position: absolute;

        width: 100%;
        height: 1px;
        bottom: 50%;
        left: 0;

    }

    &:before {

        background: linear-gradient( 90deg, var(--bg) 0%, var(--bg) 50%, transparent 50%, transparent 100% );
        background-size: var(--barsize);
        background-position: center;
        z-index: 1;

    }

    &:after {

        transition: opacity 0.3s ease, animation 0.3s ease;

        background: linear-gradient(
            to right, 
            #62efab 5%, 
            #F2EA7D 15%, 
            #F2EA7D 25%, 
            #FF8797 35%, 
            #FF8797 45%, 
            #e1a4f4 55%, 
            #e1a4f4 65%, 
            #82fff4 75%, 
            #82fff4 85%, 
            #62efab 95%);

        background-size: 200%;
        background-position: 0%;
        animation: bar 15s linear infinite;

    }

    @keyframes bar {

        0% { background-position: 0%; }
        100% { background-position: 200%; }

    }
    
}




.hr.anim {
    &:before {
        background: linear-gradient( 
            90deg, 
            var(--bg) 0%, var(--bg) 5%, 
            transparent 5%, transparent 10%, 
            var(--bg) 10%, var(--bg) 15%, 
            transparent 15%, transparent 20%, 
            var(--bg) 20%, var(--bg) 25%,
            transparent 25%, transparent 30%,
            var(--bg) 30%, var(--bg) 35%, 
            transparent 35%, transparent 40%, 
            var(--bg) 40%, var(--bg) 45%, 
            transparent 45%, transparent 50%, 
            var(--bg) 50%, var(--bg) 55%,
            transparent 55%, transparent 60%,
            var(--bg) 60%, var(--bg) 65%,
            transparent 65%, transparent 70%, 
            var(--bg) 70%, var(--bg) 75%, 
            transparent 75%, transparent 80%, 
            var(--bg) 80%, var(--bg) 85%,
            transparent 85%, transparent 90%,
            var(--bg) 90%, var(--bg) 95%, 
            transparent 95%, transparent 100% );

        background-size: var(--barsize) * 10;
        background-position: center;
        z-index: 1;
        
        animation: bar 120s linear infinite;
        
    }
    
    &:hover {
        &:before {
            animation-duration: 20s;
        }
        &:after {
            animation-duration: 2s;
        }
    }
}

/* #my body */
body {
    background: var(--bg);
    color: #3090F2;
    font-size:16px;
    font-weight: 300;
    margin: 0px;
}


/* temp background experiment: */
/* body {
    background: var(bg);
    padding: 4em;
    font-family: Lato;
    font-weight: 100;
    color: #696B89;
    text-indent: 1em;
    line-height: 1;
} */

a {
    color:inherit;
    text-decoration:none;
}

a:hover {
    color: gray;
    text-decoration:none;
}

h1, h2, h3, h4, p {
    /*line-height:0.5;*/
    font-weight:300;
    margin-top:0.3em;
    color: #9DCCFC
}

p {
    font-family: 'Raleway', sans-serif;
    font-size:23px;
    line-height: 1.2;
    /*font-weight: 500;*/
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 65px;
    line-height: 1.2;
}

h2 {
    font-size:35px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h3 {
    font-weight: bold;
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
/** html .clearfix { height: 1%; }
.clearfix { display: block; }

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}*/

.nav {
    background-color : #87CDCB;
    color            : #fff;
    width            : 100%;
    display          : block;
    height: 50px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-menu li {
    display : inline-block;
    float: left;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color   : #fff;
    font-family: 'Source Sans Pro', sans-serif;
/*    margin-left: 20px;*/
    font-size: 30px;
}

.right-menu li {
    display : inline-block;
    float: right;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;
    font-size: 30px;
}

.left-menu li a {
    display : inline-block;
    float: left;
    color   : #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.left-menu li a:hover {
    display : inline-block;
    float: left;
    color   : grey;
    font-family: 'Source Sans Pro', sans-serif;
}

.right-menu li a {
    display : inline-block;
    float: right;
    color   : #fff;
    font-family: 'Source Sans Pro', sans-serif;
/*    margin-right: 30px;*/
}

.right-menu li a:hover {
    display : inline-block;
    float: right;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
/*    margin-right: 30px;*/
}

#site-content {
    clear: both;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 170px;
    padding-bottom : 275px;
    background: url("../img/off_guard_sp2019.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#site-content h1 {
    font-size: 150px;
    font-weight: 500;
    text-align: center;
}

.about {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#reds2 {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.runner {
    background-color:#87CDCB;
    position: absolute;
    top: 96px;
    left: 43px;
    width: 2px;
    bottom: 10px;
    border-radius: 1px;
}*/

.experience {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.experience img {
    float: right;
}

/* .experience p {
    width: 650px;
} */

.ut_austin, .uc_berkeley {
    margin-bottom: 9%;
}

.skills {
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 150px;
}


.skills img {
    float: right;
}

.talents {
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 150px;
}

.talents img {
    float: right;
}

.contact {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 200px;
}

.contact img {
/*     margin-top: 50px; */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    float: right;
}

/* .contact p {
    width: 650px;
} */

.footer {
    margin-left: 150px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 200px;
/*    position: absolute;
    bottom: 50px;*/

}

.footer a {
    border-bottom: 1px solid #87CDCB;
}

.footer a:hover {
    border-bottom: 1px solid grey
}

.error {
    margin-top: 60px;
    text-align: center;
}

.error a {
    border-bottom: 2px solid #87CDCB;
}

.error a:hover {
    border-bottom: 2px solid grey
}

/* #pom {
    margin-top: 60px;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


