body {
    background-color: #87CDCB;
    color: #fff;
    font-size:16px;
    font-weight: 300;
}

a {
    color:inherit;
    text-decoration:none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}

a:hover {
    color: gray;
    text-decoration:none;
    border-bottom: 1px solid #fff
}

h1, h2, h3, h4, p {
    line-height:1.2em;
    font-weight:300;
    margin-top:1em;
    color: #fff
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:23px;
    line-height:1.5em;
    font-weight: 500;
}

h1 {
    font-family: 'Dawning of a New Day', cursive;
    font-size:60px;
}

h2 {
    font-size:50px;
}

h3 {
    font-size:35px;
    font-family: 'Source Sans Pro', sans-serif;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
/** html .clearfix { height: 1%; }
.clearfix { display: block; }*/

nav {
    background-color : rgb(255, 255, 255);
    color            : #87CDCB;
    width            : 100%;
    display          : block;
    height: 48px;
}

nav div {
    width  : 100%;
}

.left-menu li {
    display : inline-block;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    color   : #87CDCB;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 70px;
    font-size: 30px;
}

.right-menu li {
    display : inline-block;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #87CDCB;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;
    font-size: 30px;
}

.site-content {
    clear: both;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom : 250px;

}

.experience {
    margin-left: 150px;
    margin-right: 150px;
}

.footer {
    margin-left: 150px;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 20px;
    margin-bottom: 50px;
/*    position: absolute;
    bottom: 50px;*/
}

.site-content img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    background: url('logo.jpg') no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
}

.runner {
    background-color:#fff;
    position: absolute;
    top: 96px;
    left: 43px;
    width: 2px;
    bottom: 10px;
    border-radius: 1px;
}

.left-menu li a {
    display : inline-block;
    float: left;
    color   : #87CDCB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

.left-menu li a:hover {
    display : inline-block;
    float: left;
    color   : grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

.right-menu li a {
    display : inline-block;
    float: right;
    color   : #87CDCB;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;
    font-size: 30px;
}

.right-menu li a:hover {
    display : inline-block;
    float: right;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;
    font-size: 30px;
}
